body {
    background-color: #333333;
    color: #fff;
    justify-items: center;
    height: 100vh;
    align-content: center;
    padding: 0;
    margin: 0;
}
.container {
    background-color: #292929;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
#input-list {
    display: flex;
    flex-direction: row;
    margin: 3px;
    justify-content: space-between;
    column-gap: 4px;
    height: 35px;
    width: min-content;
    border-radius: 5px;
}
#input-text {
    width: 95px;
    background-color: #393939;
    border: none;
    border-radius: 3px;
    color: #fff;
}
#input-expense {
    width: 75px;
    background-color: #393939;
    border: none;
    border-radius: 3px;
    color: #fff;
}
#add-expense-btn {
    color: #fff;
    background-color: blue;
    border: 1px solid #fff;
}
#add-expense-btn:hover {
    cursor: pointer;
    background-color: rgb(87, 87, 214);
}
.product {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-radius: 3px;
    margin: 5px;
    text-decoration: none;
}
.delete-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.delete-btn:hover {
    cursor: pointer;
    background-color: rgb(188, 83, 83);
}